<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/CollectionConcurrencyKit</string>
			<key>Title</key>
			<string>CollectionConcurrencyKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/combine-schedulers</string>
			<key>Title</key>
			<string>combine-schedulers</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/CryptoSwift</string>
			<key>Title</key>
			<string>CryptoSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/Kingfisher</string>
			<key>Title</key>
			<string>Kingfisher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/Parchment</string>
			<key>Title</key>
			<string>Parchment</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/SourceKitten</string>
			<key>Title</key>
			<string>SourceKitten</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-argument-parser</string>
			<key>Title</key>
			<string>swift-argument-parser</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-case-paths</string>
			<key>Title</key>
			<string>swift-case-paths</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-clocks</string>
			<key>Title</key>
			<string>swift-clocks</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-collections</string>
			<key>Title</key>
			<string>swift-collections</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-composable-architecture</string>
			<key>Title</key>
			<string>swift-composable-architecture</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-concurrency-extras</string>
			<key>Title</key>
			<string>swift-concurrency-extras</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-custom-dump</string>
			<key>Title</key>
			<string>swift-custom-dump</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-dependencies</string>
			<key>Title</key>
			<string>swift-dependencies</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-identified-collections</string>
			<key>Title</key>
			<string>swift-identified-collections</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-navigation</string>
			<key>Title</key>
			<string>swift-navigation</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-perception</string>
			<key>Title</key>
			<string>swift-perception</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-sharing</string>
			<key>Title</key>
			<string>swift-sharing</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-syntax</string>
			<key>Title</key>
			<string>swift-syntax</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/swift-tagged</string>
			<key>Title</key>
			<string>swift-tagged</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/SwiftLint</string>
			<key>Title</key>
			<string>SwiftLint</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/SwiftyTextTable</string>
			<key>Title</key>
			<string>SwiftyTextTable</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/SWXMLHash</string>
			<key>Title</key>
			<string>SWXMLHash</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/xctest-dynamic-overlay</string>
			<key>Title</key>
			<string>xctest-dynamic-overlay</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>net.canacel.shiori.ios/Yams</string>
			<key>Title</key>
			<string>Yams</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
